/* colors {

    gray/50  : #F9FAFB;
    gray/100 : #F2F4F7;
    gray/500 : #667085;
    gray/700 : #344054;
    success/500 : #12B76A;
    white : #FFFFFF;

} */

Navbar {
  background: rgba(105, 105, 105, 0.03);
  background: color(display-p3 0.4108 0.4108 0.4108 / 0.03);
  backdrop-filter: blur(5px);

  .text {
    color: #fff;
    color: color(display-p3 1 1 1);
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 146.154% */
  }

  .date-background {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border: 1px solid color(display-p3 1 1 1 / 0.1);
    background: rgba(1, 3, 58, 0.32);
    background: color(display-p3 0.0042 0.0111 0.2174 / 0.32);
    backdrop-filter: blur(2.5px);
  }

  date {
    color: #fff;
    color: color(display-p3 1 1 1);
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
  }
}

navbar menu {
  color: var(--Gray-700, #314155);
  /* /_ Text sm/Semibold _/ */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

navbar menu links {
  background: #f9fafb;
  color: var(--Gray-700, #314155);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

navbar menu links:hover {
  background: var(--Gray-50, #f8fafb);
  color: var(--Gray-700, #314155);
  color: var(--Gray-700, color(display-p3 0.2053 0.2525 0.328));
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

// ------------------ HOME------------------------------

.home-hero-bg {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.59) 45.57%,
    rgba(1, 0, 146, 0.59) 109.83%
  );
  background: linear-gradient(
      0deg,
      color(display-p3 0 0 0 / 0.59) 45.57%,
      color(display-p3 0.0039 0 0.549 / 0) 109.83%
    ) + IMAGE_LINK;

  width: 1440px;
  height: 575px;
  flex-shrink: 0;
}

home-hero-title {
  color: #fff;
  color: color(display-p3 1 1 1);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: DM Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1px;
}

home-hero-smallText {
  color: #fff;
  color: color(display-p3 1 1 1);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

home-hero-select_Tag {
  width: 127px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 34px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border: 1px solid color(display-p3 1 1 1 / 0.2);
  background: #2162ff;
  background: color(display-p3 0.2042 0.3792 1);
}

home-heroo-input {
  width: 293px;
  color: #000;
  color: color(display-p3 0 0 0);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

home-hero-lastPart {
  .title {
    color: #fff;
    color: color(display-p3 1 1 1);
    text-align: center;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
  }

  .description {
    color: #fff;
    color: color(display-p3 1 1 1);
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1px;
  }
}

/* //------------------------------------------------ */

home-2nd-sec {
  border-radius: 9px;
  border: 1px solid rgba(0, 3, 96, 0.1);
  background: rgba(33, 98, 255, 0.02);

  .browse {
    color: #05184a;
    text-align: center;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;

    .desc {
      color: #05184a;
      color: color(display-p3 0.0392 0.0941 0.2784);
      text-align: center;
      font-feature-settings:
        "clig" off,
        "liga" off;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
}

.medical-button {
  border-radius: 9px;
  border: 1px solid rgba(33, 98, 255, 0.2);

  background: rgba(36, 42, 194, 0);

  .innerText {
    border-radius: 9px;
    border: 1px solid rgba(33, 98, 255, 0.2);

    background: #242ac2;

    .bottom-border {
      width: 5px;
      height: 120px;
      transform: rotate(90deg);
      flex-shrink: 0;

      border-radius: 6px;
      background: #6183f0;
    }
  }
}

.medical-button-on-selected {
  display: flex;
  width: 137px;
  height: 49px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 9px;
  border: 1px solid rgba(33, 98, 255, 0.2);

  background: #242ac2;

  .innerText {
    color: #fff;
    color: color(display-p3 1 1 1);
    text-align: center;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
}

.resource-type {
  color: #05184a;
  color: color(display-p3 0.0392 0.0941 0.2784);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.showAll {
  color: #05184a;
  color: color(display-p3 0.0392 0.0941 0.2784);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

/* // -----------LEFT SIDE----------- Category */

.category {
  width: 344px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 34px;
  border: 1px solid rgba(0, 3, 96, 0.1);

  background: rgba(33, 98, 255, 0.07);

  .innerText {
    color: #05184a;
    color: color(display-p3 0.0392 0.0941 0.2784);
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
}

.category_on_selected {
  width: 344px;
  height: 42px;
  flex-shrink: 0;

  border-radius: 34px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border: 1px solid color(display-p3 1 1 1 / 0.2);
  background: #2162ff;
  background: color(display-p3 0.2042 0.3792 1);

  .innterText {
    color: #fff;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
}

/* // -----------RIGHT SIDE----------- Card */

.card {
  .innerText {
    color: #000360;
    color: color(display-p3 0 0.0118 0.3608);
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    .desc {
      color: #000;
      color: color(display-p3 0 0 0);
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.card:hover {
  .innerText {
    color: rgba(0, 3, 96, 0.6);
    color: color(display-p3 0 0.0118 0.3608 / 0.6);
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;

    .desc {
      color: #000;
      color: color(display-p3 0 0 0);
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

/* // ------------- Left Side --------------- Recently Added */

.recentely {
  background: #fff;
  background: color(display-p3 1 1 1);

  .title-left-card {
    color: #05184a;
    color: color(display-p3 0.0392 0.0941 0.2784);
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
  }
  .title-inner-div {
    width: 357px;
    height: 1px;
    background: #05184a;
    background: color(display-p3 0.0392 0.0941 0.2784);
  }

  /* -------------------DROPDOWN-------------- */
  .left-card {
    img {
      width: 59px;
      height: 73px;
      flex-shrink: 0;

      border-radius: 5px;
      border: 1px solid rgba(76, 112, 255, 0.28);
      border: 1px solid color(display-p3 0.3294 0.4353 1 / 0.28);
      background:
        url(<path-to-image>),
        lightgray 50% / cover no-repeat;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.02);
      box-shadow: 0px 3px 10px 0px color(display-p3 0 0 0 / 0.02);
    }

    date {
      width: 614px;

      color: #957100;
      color: color(display-p3 0.5641 0.4504 0.024);
      font-family: DM Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .title {
      width: 614px;
      color: #000360;
      color: color(display-p3 0 0.0118 0.3608);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .title:hover {
      color: rgba(0, 3, 96, 0.6);
      color: color(display-p3 0 0.0118 0.3608 / 0.6);
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }
  }

  .title-right-card {
    color: #000360;
    font-feature-settings:
      "clig" off,
      "liga" off;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;

    .title-right-inner-div {
      width: 424px;
      height: 1px;
      background: #05184a;
      background: color(display-p3 0.0392 0.0941 0.2784);
    }
  }
  /* -----------Right-Card----------- */

  .right-card {
    .content {
      width: 304px;

      color: #000360;
      color: color(display-p3 0 0.0118 0.3608);
      font-family: DM Sans;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .tag {
      display: flex;
      height: 30px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;

      border-radius: 21px;
      border: 1px solid rgba(0, 3, 96, 0.1);
      border: 1px solid color(display-p3 0 0.0118 0.3608 / 0.1);
      background: rgba(42, 103, 255, 0.1);
      background: color(display-p3 0.2292 0.3987 1 / 0.1);

      .text {
        color: #000;
        color: color(display-p3 0 0 0);
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
      }
    }

    .tagTax {
      color: #000;
      color: color(display-p3 0 0 0);
      font-family: DM Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 166.667% */
    }

    title:hover {
      width: 304px;

      color: rgba(0, 3, 96, 0.6);
      color: color(display-p3 0 0.0118 0.3608 / 0.6);
      font-family: DM Sans;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }

    .h {
      display: flex;
      height: 30px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
    .tag:hover {
      display: flex;
      height: 30px;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;

      border-radius: 21px;
      border: 1px solid rgba(0, 3, 96, 0.1);
      border: 1px solid color(display-p3 0 0.0118 0.3608 / 0.1);
      background: rgba(42, 103, 255, 0.1);
      background: color(display-p3 0.2292 0.3987 1 / 0.1);
    }
  }
}

.Footer {
  color: #fff;
  color: color(display-p3 1 1 1);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
