@tailwind base;
@tailwind components;
@tailwind utilities;


.home-background-image {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(1, 0, 146, 0.59) 109.83%), url("./assets/images/jpg_png/home-background.png");
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}